<div class="admin_container">
	 <h3 class="info_text">No User Avalible</h3>
	<div class="table">
  	<div class="tr table_head">
	  	<div class="th">Name</div>
	  	<div class="th">email</div>
	  	<div class="th">is_verified</div>
	  	<div class="th">Created at</div>
	  	<div class="th">Remove user</div>
  	</div>

  </div>
</div>