<div class="footer_container" id="contacts">
  <!-- <ul class="footer_list">			
			<li class="footer_item">
				<a href="https://github.com/programmerraja">
					<i data-test="fa" class="fab fa-github fa-2x"></i>
				</a>
			</li>		
			<li class="footer_item">
				<a href="https://in.linkedin.com/in/k-boopathi-5b475a169">
					<i data-test="fa" class="fab fa-linkedin fa-2x"></i>
				</a>
			</li>
			<li class="footer_item">
				<a href="https://www.youtube.com/c/ProgrammerRaja">
					<i data-test="fa" class="fab fa-youtube fa-2x" ></i>
				</a>
			</li>			
		</ul> -->
  <div class="copyright"> © Copyright 2020 K.boopathi All Rights Reserved</div>
</div>