<section class="section_container">
  <h2 class="section_title">Way's to find ip,location and mobile details of scammer</h2>
  <section class="section1_container">

    <div class="section_container-img">
      <img src="./public/img/image1.svg" class="section_img">
    </div>

    <div class="section1_container-text">
      <h3 class="section_text">1.send any url or link to image and track the scammer</h3>
    </div>
  </section>

  <section class="section2_container">

    <div class="section2_container-text">
      <h3 class="section_text">2.send the error page and track the scammer</h3>
    </div>

    <div class="section_container-img">
      <img src="./public/img/image2.svg" class="section_img">

    </div>
  </section>

</section>
</section>