<!DOCTYPE html>
<html>

<head>
	<title>Admin</title>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/public/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>

<body>
	<!-- ############# NAVIGATION #######################-->
	<%- include('components/nav.ejs');  -%>
		<!-- ############# USER #######################-->
		<%- include('components/admin.ejs');  -%>
</body>
<script src="/public/js/admin.js"></script>
<script src="/public/js/popup.js"></script>
<script src="/public/js/nav.js"></script>
</html>