<!DOCTYPE html>
<html>
<head>
	<title>Forget Password</title>
	 <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
	 <link rel="stylesheet" type="text/css" href="/public/css/form.css">
	 <link rel="stylesheet" type="text/css" href="/public/css/style.css">
	 <link rel="stylesheet" type="text/css" href="/public/css/common.css">
	
</head>
<body>
	
  	<!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>


	<!-- ############# FORGET PASSWORD #######################-->
             <%- include('components/forgetPassword.ejs');  -%>
             
  	
</body>
<script src="/public/js/forgetPassword.js"></script>
<script src="/public/js/nav.js"></script>  

</html>
