 h1
  {
    margin: 0;
  }
  img
  {
      height: 100px;
      width: 100px;
  }
.error_container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    margin: auto;
  }
  @media (max-width:480px)
  {
    body
    {
      font-size: 15px;
    }
    h1
    {
      font-size: 17px;
    }
     img
    {
      height: 70px;
      width: 70px;
    }
    .container
    {
      margin: 0;
      width: 100%;
    }
  }